/* ANIMATION STYLES */

.animation-opacity {
  transition: all .5s cubic-bezier(.03, .49, .21, 1.01) 0s;
  opacity: 0;
}

.animation-opacity-start {
  opacity: 1;
  transition: all .5s cubic-bezier(.03, .49, .21, 1.01) 0.60s;
}

.hero-animation {
  z-index: -1;
  position: absolute;
  width: 714px;
  height: 714px;
  bottom: -260px;
  left: 50%;
  transform: translate(-50%, 0px) scale(0.8);
  transition: 0.75s linear;
}

.hero-animation-start {
  transform: translate(-50%, 0px) scale(1.2) !important;
}

.hero-animation-active {
  background: #ff000036;
}

.hero-circle-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .1s linear 0s;
  transition-delay: 250ms;
}

.hero-circle-2 {
  position: absolute;
  width: 76%;
  height: 76%;
  border-radius: 50%;
  left: 50%;
  top: 12%;
  transform: translate(-50%, 0);
  transition: .1s linear 0s;
  transition-delay: 250ms;
}

.hero-circle-3 {
  position: absolute;
  width: 54%;
  height: 54%;
  border-radius: 50%;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 0);
  transition: .1s linear 0s;
  transition-delay: 250ms;
}